{% block polymorphic_collection_row %}
    <div class="polymorphic-collection">
        {{ form_label(form) }} {# uses: polymorphic_collection_label #}
        {{ form_errors(form) }}
        {{ form_widget(form) }} {# uses: polymorphic_collection_widget #}
    </div>
{% endblock polymorphic_collection_row %}

{% block polymorphic_collection_label %}
    <div class="row mt-3 mb-3">
        <div class="col-sm-6">
            {% set element = 'p' %}
            {% set label_attr = label_attr | merge({'class':'h4'}) %}

            {% if label is not same as(false) -%}
                {% if label is empty -%}
                    {%- if label_format is not empty -%}
                        {% set label = label_format|replace({
                            '%name%': name,
                            '%id%': id,
                        }) %}
                    {%- else -%}
                        {% set label = name|humanize %}
                    {%- endif -%}
                {%- endif -%}
                <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</{{ element|default('label') }}>
            {%- endif -%}
        </div>
        <div class="col-sm-6 text-end">
            {{ block('polymorphic_prototype_buttons') }}
        </div>
    </div>
{% endblock polymorphic_collection_label %}

{% block polymorphic_collection_widget %}
    {% set attr = attr | merge({'class':'polymorphic-collection-widget'}) %}
    <!-- Nodes -->
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{% endblock polymorphic_collection_widget %}

{%- block polymorphic_prototype_buttons -%}
    <!-- Buttons -->
    <div id="polymorphic_prototypes" class="polymorphic-collection-prototypes">
        <p class="h2">{{ 'form.tree.polymorphic.prototypes.label'|trans }}</p>
        {% for key, prototype in form.vars.prototypes %}
            <button type="button" class="cursor-pointer" {{ block('polymorphic_prototype_button_attributes') }}>
                {% set trans_domain = prototype.vars.translation_domain | default(translation_domain) | default(false) %}
                {{ not trans_domain ? prototype.vars.prototype_button_label : prototype.vars.prototype_button_label|trans({}, trans_domain) }}
            </button>
        {% endfor %}
    </div>
{%- endblock polymorphic_prototype_buttons -%}

{%- block polymorphic_prototype_button_attributes -%}
    data-collection="#{{ id }}" data-prototype-name="{{ prototype.vars.name }}" data-prototype="{{ form_row(prototype)|escape }}"
    {% set attr = prototype.vars.prototype_button_attr %}
    {% set attr = attr | merge({'class': attr.class|default('') ~ ' add_polymorphic_node'}) %}
    {{ block('attributes') }}
{%- endblock polymorphic_prototype_button_attributes -%}